doctype
html(lang="en-GB")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="shortcut icon" type="image/png" href="favicon.png")
    link(rel="stylesheet" href="main.css")
    title cass.si &mdash; ftp
  body
    .container
      != yield

  script(src="/js/jquery-3.4.1.min.js")
  script(src="/js/gotrue.js")
  script(src="/js/common.js")

