h1 recovery

input#recoveryKey(placeholder="Enter key")
input#newPassword.hidden(placeholder="Enter new password")

.spinner.hidden
	.bounce1
	.bounce2
	.bounce3

p#debug_message

script(src="/js/upload.js" defer)
